<div class="item-reviews">
  <h1>Total Search Results: <%= @results[:search_results] %></h1><hr>
  <% @results[:items].each do |item| %>
    <img src="<%= item[:image_url] %>">
    <h3><%= item[:title] %></h3>
  <div class="review">
    <% item[:reviews].each.with_index(1) do |review, i| %>
      <%= { review[:author_location] => review[:rating][0] } %>
      <h4><%= i %>) <%= review[:title] %></h4>
      <p>Rating: <%= review[:rating] %></p>
      <p>Author: <%= review[:author] %></p>
      <p>Location: <%= review[:author_location] %></p>
      <p>Usefulness: <%= review[:votes] %></p>
      <p>Published: <%= review[:date] %></p>
      <hr>
      <% if review[:overall_sentiment] == "negative." %>
        <div class='negative-review' style='color:red'><p>The most negative sentence of the review: <%= review[:low_sentence] %></p></div>
        <div class='overall' style='color:red'>The overall sentinment of the review: <%= review[:overall_sentiment] %></p></div>
      <% else %>
        <div class='positive-review'style='color:green'><p>The most positive sentence of the review: <%= review[:high_sentence] %></p></div>
        <div class='overall' style='color:green'>The overall sentinment of the review: <%= review[:overall_sentiment] %></p></div>
      <% end %>



      <p><%= review[:content] %></p>
      <hr>
      <% end %>
      </div>
  <% end %>
</div>
