<div class="row">
  <div class="col-lg-3"><img class="img-rounded" src="<%= @product.image_url %>"></div>
  <div class="col-lg-8"><h2><%= @product.title %></h2></div>
</div>

<br>
<br>

<div class="panel panel-default">
  <div class="panel-heading panel-title">User Data</div>
  <div class="panel-body row-centered">
    <div id="user-data-panel" class="col-centered">
      <input id="user-data-button" type="button" value="Click here for user data">
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading panel-title">Sentiment Review Data</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-3">
	<div class="panel panel-success">
	  <div class="panel-heading panel-title">Best Review</div>
	  <div class="panel-body"><%= @dashboard[:best_review]%></div>
	</div>
      </div>
      <div class="col-md-3">
	<div class="panel panel-success">
	  <div class="panel-heading panel-title">Best Sentence</div>
	  <div class="panel-body"><%= @dashboard[:best_sentence]%></div>
	</div>
      </div>
      <div class="col-md-3">
	<div class="panel panel-danger">
	  <div class="panel-heading panel-title">Worst Review</div>
	  <div class="panel-body"><%= @dashboard[:worst_review]%></div>
	</div>
      </div>
      <div class="col-md-3">
	<div class="panel panel-danger">
	  <div class="panel-heading panel-title">Worst Sentence</div>
	  <div class="panel-body"><%= @dashboard[:worst_sentence]%></div>
	</div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading panel-title">Rating Over Time</div>
    <div id="graph" class="panel-body row-centered">
      <%= render 'graph' %>
    </div>
</div>
