<div class="container">
  <div class="row">
    <% if @products==[] %>
      <div class="error-message-container">
        <h4><%= "Sorry, there were no results for your search!" %></h4>
      </div>
    <% end %>
      <% @products.each do |product| %>
        <% if product %>
        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="card">
            <%= link_to product do %>
              <div class="card-image-container">
                <%= image_tag(product.image_url) %>
              </div>
            <% end %>
            <div class="card-block product-description-text">
              <h4 class="card-title"><%= truncate(product.title, length: 40) %></h4>
              <p class="card-subtitle text-muted"><%= product.product_group %> - <%= number_to_currency(product.price, precision: 0) %></p>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>
  </div>
</div>
